---
// import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import App from '../components/App.vue';
import WebCall from '../components/WebCall';
// import RetellVariables from '../components/RetellVariables.vue';
// import TopupWallet from '../components/TopupWallet.vue';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div class="container">
		<!-- <h1>Retell Web Call Demo</h1>
		<TopupWallet client:load />
		<RetellVariables client:load />
		<WebCall client:load agentId="agent_0c5c431f3f7b9d04e346c7aa72" /> -->
		<!-- Hidden WebCall component -->
		<div style="display: none;">
			<WebCall client:only="react" agentId="agent_0c5c431f3f7b9d04e346c7aa72" id="hidden-webcall" />
		</div>
		<App client:only="vue" />
	</div>
</Layout>

<style>
	/* .container {
		max-width: 1200px;
		margin: 0 auto;
		padding: 2rem;
	}
	h1 {
		text-align: center;
		margin-bottom: 2rem;
	} */
</style>